@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Ubuntu');

body {
    padding: 0px;
    margin: 0px;
    font-family: "Lato", sans-serif;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

/* Read Lists */

.menu {
    position: absolute;
    display: inline-flex;
    height: 100%;
    object-fit: fill;
    z-index: -1;
}

/* Side Navigation */

.editor-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 135px;
    height: 100vw;
    background-color: #2c2c34;

}